.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.keys {
  width: 810px;
  height: 610px;
  background-color: rgba(64, 62, 62, 0.9);
  border: 5px rgba(93, 93, 93, 0.7) outset;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.key {
  width: 200px;
  height: 200px;
  border: 5px outset rgb(44, 44, 44);
  font-size: rem(45);
  color: rgb(254, 253, 251);
  text-shadow: 0 0 5px black;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 0.07s;
}

.sound {
  font-size: rem(25);
  color: rgb(225, 195, 23);
}

.title {
  padding: 75px;
  padding-left: 180px;
  font-size: rem(50);
  color: rgb(225, 195, 23);
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
  background-color: rgb(174, 149, 13);
}
